<ul id="post-section" class="container d-flex p-1 justify-content-center flex-column list-unstyled">
  <!--single card start here-->
  <li class="border border-light rounded p-3 mb-3">
      <!--card title-->
    <div id= "post-title" class="bg-light">
      <h2 class="card-title p-2">
        <a href="/{{post.id}}">{{post.title}}</a>
      </h2>
    </div>
    <!--card content-->
    <div id=" post-content" class="mb-3">
      <p class="card-text">{{post.content}}</p>
    </div>
    <!--card footer details-->
    <div id="post-details" class="bg-light d-flex justify-content-between p-2">
      <div class="left-details d-flex align-items-center">
        <p class="card-text"><b>Created By: {{post.user.username}}</b></p>
      </div>

      <div class="right-details">
        <p class="card-text"><b>Date created: {{format_date post.created_at}}</b></p>
      </div>
    </div>
  </li>
</ul>

<!--if a user is logged in, display the box to create a comment-->
{{#if loggedIn}}
<form id="new-comment" class="comment-form container d-flex p-1 justify-content-start flex-column">
  <div class="form-group mr-3">
    <h3>Post a comment</h3>
    <textarea name="comment-body" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary flex-shrink-1">Submit</button>
  </div>
</form>
{{/if}}
{{> comments post.comments}}
<script src="/js/timer.js"></script>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}